.selection{
    &__button {
        background-color: #f1f2f6;
        border: none;
        padding: 1rem;
        font-size: 1.4rem;
        line-height: 1.6rem;
        min-width: 10rem;

        &.is--selected {
            background-color: #27ae60;
            color: #fff;
        }
    }
}