.slidebet{
    &__button {
        padding: 2rem;
        width: 100%;
        border: none;
        position: absolute;
        bottom: 0;
        background-color: #27ae60;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
    }
}